﻿.my-dialog {
    min-width:70%;
    width:70% !important;
    max-width: 70% !important;
    /*margin:auto;*/
    max-height:100%;
    margin-bottom:40px;
}

.my-dialog md-input-container {
    padding: 0px;
    margin: 0px;
}

.ngrateit-star:focus{
    outline:none !important;
}