﻿<div class="row wow fadeIn" data-wow-delay="0.4s">
    <div class="col-lg-12">
        <div class="divider-new">
            <h2 class="h2-responsive">O nas</h2><br />
        </div>
    </div>
    <div class="col-lg-12">
        <div style="padding-left:15px;">
            <h2 class="row">Twoje AUTO Twoja Niezależność</h2>
            <p class="row">
                WITAMY PAŃSTWA NA OFICJALNEJ STRONIE WYPOŻYCZALNI SAMOCHODÓW. TO CO WYRÓŻNIA NASZĄ FIRMĘ TO RZETELNOŚĆ, DOSTĘPNOŚĆ 24/7 ORAZ BOGATA OFERTA AUT.
            </p>
            <ul>
                <li>•	JESTEŚMY POLSKĄ FIRMĄ OFERUJĄCĄ WYPOŻYCZANIE SAMOCHODÓW ONLINE</li>
                <li>•	DYSPONUJEMY FLOTĄ SAMOCHODÓW TAKICH MAREK JAK: SKODA, FORD, OPEL, AUDI, NISSAN, RENAULT, CITROEN, HYUNDAI</li>
                <li>•	ZAUFALI NAM: FIRMA.COM, SKY.PL, GOODCOMPANY, NEWADD</li>
                <li>•	OBSŁUŻYLIŚMY PONAD 10 TYSIECY ZADOWOLONYCH KLIENTÓW</li>
                <li>•	POSIADAMY 5-LETNIE DOŚWIADCZENIE W BRANŻY</li>
                <li>•	POSIADAMY 10 ODDZIAŁÓW NA TERENIE POLSK</li>
            </ul>

            <p class="row">
                NASZA FIRMA UMOŻLIWIA RÓWNIEŻ ODBIÓR AUTA NA WSZYSTKICH LOTNISKACH KRAJOWYCH.  WSZELKIE PYTANIA ORAZ  INFORMACJE DOTYCZĄCE ODBIORU AUTA PROSIMY KIEROWAĆ NA NASZĄ INFOLINIE (+48 123456789).
                ZNAJDĄ NAS PAŃSTWO RÓWNIEŻ NA FACEBOOKU.
            </p>
        </div>
    </div>
</div>    