﻿<md-dialog aria-label="Car" class="my-dialog" layout="column" ng-controller="carCtrl as cc" ng-init="cc.init()">
    <md-toolbar class="navbar">
        <div class="md-toolbar-tools">
            <h2>Dodaj auto</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content" layout="row">
            <div layout="column" flex="30">

                <md-input-container>
                    <label>Nazwa</label>
                    <input ng-model="cc.carModel.Name" ng-required="true" type="text">
                </md-input-container>

                <md-input-container>
                    <label>Opis</label>
                    <input ng-model="cc.carModel.Description" ng-required="true" type="text">
                </md-input-container>

                <md-input-container>
                    <label>Ilość</label>
                    <input ng-model="cc.carModel.Count" ng-required="true" type="number">
                </md-input-container>

                <md-input-container>
                    <label>Dostępnych</label>
                    <input ng-model="cc.carModel.Available" ng-required="true" max="{{cc.carModel.Count}}" type="number">
                </md-input-container>

                <md-input-container>
                    <label>Cena / dzień</label>
                    <input ng-model="cc.carModel.Amount" ng-required="true" type="number">
                </md-input-container>

                <md-input-container>
                    <label>Lokalizacja</label>
                    <input ng-model="cc.carModel.Location" ng-required="true" type="text">
                </md-input-container>

                <md-input-container>
                    <md-select multiple ng-model="cc.selectedCategories" placeholder="Wybierz kategorię">
                        <md-option ng-repeat="category in cc.categories" value="{{category}}">{{category.Name}}</md-option>
                    </md-select>
                </md-input-container>

                <md-button class="md-button" type="file" ngf-select="cc.upload($file)"
                           accept="image/*" ngf-max-height="1000" ngf-max-size="10MB">
                    Wybierz zdjęcie
                </md-button>
            </div>



            <div layout="column" flex="50" flex-offset="10">
                <h5 class="title">Dodaj samochód do floty naszych aut. Nie zapomnij dodać zdjęcia!</h5>
            </div>
        </div>

    </md-dialog-content>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button class="btn btn-sm btn-default" ng-click="cc.carAddSubmit()">
            Dodaj
        </md-button>
        <md-button ng-click="cancel()">
            Zamknij
        </md-button>
    </md-dialog-actions>
</md-dialog>

