﻿<div class="row wow fadeIn" data-wow-delay="0.4s" ng-controller="analyticCtrl as ac" ng-init="ac.init()">
    <div class="col-lg-12">
        <div class="divider-new">
            <h2 class="h2-responsive">Analityka</h2>
        </div>
    </div>

    <div flex="100" layout="row">
        <div flex="70" ng-show="ac.ordersPerMonth.isInited == true">
            <canvas id="line" class="chart chart-line" chart-data="ac.ordersPerMonth.data" 
                    chart-labels="ac.ordersPerMonth.labels" chart-series="ac.ordersPerMonth.series" ></canvas>
        </div>
        <div flex="30">
            Wykres przedstawia ilość wypożyczeń dla danego miesiąca. 
        </div>
    </div>
    
    <div flex="100" layout="row">
        <div flex="30">
            Wykres przedstawia ilosść wypożyczeń dla danego typu samochodu.
        </div>

        <div flex="70" ng-show="ac.topCategories.isInited == true">
            <canvas id="line2" class="chart chart-bar" chart-data="ac.topCategories.data"
                    chart-labels="ac.topCategories.labels" chart-series="ac.topCategories.series"></canvas>
        </div>
    </div>

    <div flex="100" layout="row">
        <div flex="30">
            Wykres przedstawia liczbę dni na które najczęściej dokonuje się wypożyczenia.
        </div>
      
        <div flex="70" ng-if="ac.topDays.isInited == true">
            <canvas id="doughnut" class="chart chart-doughnut"
                    chart-data="ac.topDays.data" chart-labels="ac.topDays.labels"></canvas>
        </div>
    </div>

</div>    