﻿<div class="card  wow fadeIn" data-wow-delay="0.2s" style="width:200px;margin:10px;height:390px">
    <!--Card image-->
    <div class="view overlay hm-white-slight" ng-click="goCard(car)">
        <img src="{{car.AvatarPath || '/images/cars/Alt.jpg'}}"   style="height:120px; width:200px; max-width: 200px;" class="img-fluid" alt="">
        <a href="#">
            <div class="mask"></div>
        </a>
    </div>
    <!--/.Card image-->
    <!--Card content-->
    <div class="card-block" style="height:170px">
        <div ng-controller="rateCtrl as rc" ng-init="rc.init(car)">
            <ng-rate-it ng-model="model"  read-only="rc.isReadOnlyRate()"></ng-rate-it>
        </div>
        <!--Title-->
        <h6 class="card-title"><small style="color:darkorange">{{car.Available}} / {{car.Count}}</small> {{car.Name}}</h6>
        <h8 class="card-title">{{car.Location}} </h8>
        <!--Text-->
        <small class="card-text">{{car.Description}} </small>
    </div>
    <div class="card-block" style="height:130px">
        <a href="#" ng-click="openHireDialog($event)" class="btn btn-default">wypożycz za <strong>{{car.Amount}} zł / dzień</strong></a>
    </div>
    <!--/.Card content-->
</div>