﻿<div class="row wow fadeIn" data-wow-delay="0.4s" ng-init="clc.init()"  ng-cloak>
    <div class="col-lg-12">
        <div class="divider-new">
            <h2 class="h2-responsive">{{clc.category}}</h2>
        </div>
    </div>

    
    <div class="row" ng-repeat="car in clc.getCars(site.textSearch)">

        <div class="col-lg-4">
            <!--Card-->
            <car-card car="car"></car-card>
            <!--/.Card-->
        </div>
    </div>

</div>    