﻿<div class="row wow fadeIn" data-wow-delay="0.4s" ng-controller="contactUs as cu" ng-init="cu.init()">
    <div class="col-lg-12">
        <div class="divider-new">
            <h2 class="h2-responsive">Kontakt</h2>
        </div>
    </div>
    <div flex="100">
        <div flex="60" style="padding:20px">
            <div id="map" style="width:100%;height:400px;overflow:auto">asdasdasds</div>
            <script>
                function initMap() {
                    var uluru = { lat: 52.1618659, lng: 21.044345 };
                    var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 14,
                        center: uluru
                    });
                    var marker = new google.maps.Marker({
                        position: uluru,
                        map: map
                    });

                }

            </script>

            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlvtOQC7ED_Qph_EygzI5O7K1gtmL8cZM&callback=initMap"
                    type="text/javascript"></script>
        </div>
    </div>
    <div flex="100" style="padding:20px">
        <p>Jeśli zainteresowała Cię nasza aplikacja, chcesz pomóc nam ją rozwijać ?</p> 
        <p>Skontaktuj się z nami: <a href="mailto:rentcar@gmail.com">rentcar@gmail.com</a></p>


        <p>Nowoursynowska 166, 02-787 Warszawa</p>
        <p>budynek 34, 3 piętro</p>
    </div>
</div>
