﻿<div class="row wow fadeIn" data-wow-delay="0.4s">
    <div class="col-lg-12">
        <div class="divider-new">
            <h2 class="h2-responsive">Funkcjonalności</h2>
        </div>
    </div>
</div>    