﻿<div class="row wow fadeIn" data-wow-delay="0.4s" ng-init="fcc.init()" ng-cloak>
    <div class="col-lg-12">
        <div layout="row" layout-align="space-between center">
            <md-button ng-click="fcc.goBack()">
                Wróć
            </md-button>
            <md-button ng-if="site.userSvc.isAdmin == true"  ng-click="fcc.removeCar()">
                <md-tooltip>Usuń</md-tooltip>
                <md-icon>close </md-icon>
            </md-button>
        </div>

        <div class="divider-new">
            <h2 class="h2-responsive">{{fcc.car.Name}}</h2>
        </div>
    </div>
    <div class="row" flex="100" style="margin:10px">
        <div flex="30">
            <img src="{{fcc.car.AvatarPath || '/images/cars/Alt.jpg'}}" style="height:120px; width:200px; max-width: 200px;" class="img-fluid" alt="">

            <div ng-if="fcc.isCarLoaded  == true" ng-controller="rateCtrl as rc" ng-init="rc.init(fcc.car)" layout="row">
                <ng-rate-it ng-model="model" read-only="rc.isReadOnlyRate()"></ng-rate-it>
                <small>{{model}}/5</small>
            </div>
        </div>
        <div flex="60">
            <h6 class="card-title" style="color:darkorange">dostępnych {{fcc.car.Available}} z {{fcc.car.Count}} </h6>

            <span>
                {{fcc.car.Description}}
            </span>
        </div>
    </div>

    <div layout="column" style="width:100%" flex="100">

        <div layout="row" flex="100" style="margin:10px">
            <form name="fcc.commentForm" layout="row" flex="100" ng-submit="fcc.addComment()">
                <div flex="70">
                    <md-input-container class="md-block">
                        <label>Komentarz</label>
                        <textarea ng-model="fcc.comment" md-maxlength="150" rows="3" md-select-on-focus></textarea>
                    </md-input-container>

                </div>
                <div flex="30" style="margin:auto">
                    <md-button class="btn btn-sm btn-default" ng-click="fcc.addComment()">
                        Dodaj komentarz
                    </md-button>
                </div>
            </form>
        </div>

        <div ng-repeat="comment in fcc.getComments(site.textSearch) | orderBy:'-Date'">
            <div flex="100" style="width:100%">
                <div class="card  wow fadeIn" data-wow-delay="0.2s" style="margin:10px;padding:15px">
                    <div layout="row" layout-align="space-between center">

                        <div layout="column" flex="100">
                            <div layout="row">
                                <span style="margin-right:20px"> {{comment.Date | date:'MM/dd/yyyy'}}</span>
                                <span> {{comment.User.Name}}</span>
                            </div>
                            <div>
                                <h6 style="white-space: pre-wrap;">{{comment.Comment}}</h6>
                            </div>
                        </div>
                        <div ng-if="fcc.isUserComment(comment)">
                            <md-button ng-click="fcc.removeComment(comment)()">
                                <md-tooltip>Usuń</md-tooltip>
                                <md-icon>close </md-icon>
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    