﻿<md-dialog aria-label="Login" class="my-dialog" layout="column" ng-controller="hireCarCtrl as hcc" ng-init="hcc.init(car)">
    <md-toolbar class="navbar">
        <div class="md-toolbar-tools">
            <h2>Wypożycz samochód</h2>
            <small style="margin-left:40px" class="h6-responsive">{{hcc.car.Amount}} zł/ dzień</small>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content" layout="row">
            <div layout="column" flex="30">
                <form name="hcc.hireForm" novalidate>
                    <div class="wow fadeIn" data-wow-delay="0.4s">
                        <div class="col-lg-12" layout="row">
                            <h3 style="color:darkorange">{{hcc.car.Available}}/{{hcc.car.Count}}</h3>
                        </div>
                    </div>
                    <br/>

                    <md-input-container>
                        <label>Od</label>
                        <md-datepicker  name="dateFrom" ng-required="true" ng-model="hcc.hireModel.DateFrom">
                        </md-datepicker>
                    </md-input-container>

                    <md-input-container>
                        <label>Do</label>
                        <md-datepicker name="dateTo" ng-required="true" ng-model="hcc.hireModel.DateTo">
                        </md-datepicker>
                    </md-input-container>
                </form>
            </div>

            <div layout="column" flex="50" flex-offset="10">
                <div class="wow fadeIn" data-wow-delay="0.4s" ng-if="hcc.calculatedAmount()">
                    <div class="col-lg-12">
                        <div class="divider-new">
                            <h2 class="h2-responsive">{{hcc.calculatedAmount()}} zł</h2>
                        </div>
                    </div>
                </div>
                <div style="margin:auto;text-align:center">
                    <img src="{{hcc.car.AvatarPath || '/images/cars/Alt.jpg'}}" style="height:120px; width:200px; max-width: 200px;border-radius:20px;margin:auto" class="img-fluid" alt="">
                    <h5 class="title">{{hcc.car.Name}}</h5>
                    <h5 class="title">{{hcc.car.Location}}</h5>
                    <h6 class="title">{{hcc.car.Description}}</h6>
                </div>
            </div>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button class="btn btn-sm btn-default" type="submit" ng-click="hcc.hireSubmit()">
            Wypożycz
        </md-button>
        <md-button ng-click="cancel()">
            Zamknij
        </md-button>
    </md-dialog-actions>
</md-dialog>

