﻿<md-dialog aria-label="Login" class="my-dialog" layout="column" ng-controller="userCtrl as uc">
    <md-toolbar class="navbar">
        <div class="md-toolbar-tools">
            <h2>Login</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content" layout="row">
            <form name="uc.loginForm" flex="30">

                <div layout="column" >
                    <md-input-container>
                        <label>Email</label>
                        <input ng-model="uc.loginModel.Email" ng-required="true" type="email">
                    </md-input-container>

                    <md-input-container>
                        <label>Hasło</label>
                        <input ng-model="uc.loginModel.Password" ng-required="true" type="password">
                    </md-input-container>
                </div>
            </form>

            <div layout="column" flex="50" flex-offset="10">
                <div ng-controller="facebookCtrl as fb" ng-click="fb.login()">
                    <md-button style="background-color:#4267b2" class="btn btn-sm btn-default" ng-click="fb.login()">
                        <h6>
                            Zaloguj przez Faccebooka
                        </h6>
                    </md-button>
                </div>
                <h5 class="title"> Aby się zalogować podaj swój email i hasło lub zrób to za pomocą facebooka. </h5>
            </div>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button class="btn btn-sm btn-default" ng-click="uc.loginSubmit()">
            Zaloguj
        </md-button>
        <md-button ng-click="cancel()">
            Zamknij
        </md-button>
    </md-dialog-actions>
</md-dialog>

