﻿<div class="row wow fadeIn" data-wow-delay="0.4s" ng-controller="orderListCtrl as olc" ng-init="olc.init()" ng-cloak>
    <div class="col-lg-12">
        <div class="divider-new">
            <h2 class="h2-responsive">Moje zamówienia</h2>
        </div>
    </div>
    <div class="col-lg-12" style="width:90%">
        <div layout="column">
            <div class="row" ng-repeat="order in olc.getFilteredOrders(site.textSearch)">
                <div flex="100" style="width:100%">
                    <div class="card  wow fadeIn" data-wow-delay="0.2s" style="margin:10px;padding:15px">
                        <div layout="row" flex="100" >
                            <div flex="40" layout="column">
                                <h4>{{order.Car.Name}}</h4>
                                <h6>{{order.Car.Description}}</h6>
                                <h3>{{order.Amount}} zł</h3>
                                <div>
                                    <md-button class="md-accent" ng-if="order.IsPaid == true" style="color:darkseagreen" ng-disabled="true">
                                        Zapłacone
                                    </md-button>
                                    <md-button class="md-warn" ng-click="olc.payOpen($event,order)"  ng-if="order.IsPaid == false">
                                        Do zapłacenia
                                    </md-button>
                                </div>
                            </div>
                            <div flex="30" layout="column">
                                <span>Od: {{order.DateFrom | date:'MM/dd/yyyy'}}</span>
                                <span>Do: {{order.DateTo | date:'MM/dd/yyyy'}} <small style="color:red" ng-if="olc.tryToDate(order)">!!!</small></span>
                            </div>
                            <div flex="30" layout="column">
                                <img src="{{order.Car.AvatarPath || '/images/cars/Alt.jpg'}}" style="height:120px; width:200px; max-width: 200px;border-radius:20px;margin:auto" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    