﻿<md-dialog aria-label="Login" class="my-dialog" layout="column">
    <md-toolbar class="navbar">
        <div class="md-toolbar-tools">
            <h2>Wypożycz samochód</h2>
            <small style="margin-left:40px" class="h6-responsive">{{order.Car.Amount}} zł/ dzień</small>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content" layout="row">
            <div layout="column" flex="30">
                <form novalidate>
                    <br />

                    <md-input-container>
                        <label>Od</label>
                        <md-datepicker name="dateFrom" ng-disabled="true" ng-model="order.DateFrom">
                        </md-datepicker>
                    </md-input-container>

                    <md-input-container>
                        <label>Do</label>
                        <md-datepicker name="dateTo"  ng-disabled="true"ng-model="order.DateTo">
                        </md-datepicker>
                    </md-input-container>
                </form>
            </div>

            <div layout="column" flex="50" flex-offset="10">
                <div class="wow fadeIn" data-wow-delay="0.4s">
                    <div class="col-lg-12">
                        <div class="divider-new">
                            <h2 class="h2-responsive">{{order.Amount}} zł</h2>
                        </div>
                    </div>
                </div>
                <div style="margin:auto;text-align:center">
                    <img src="{{order.Car.AvatarPath || '/images/cars/Alt.jpg'}}" style="height:120px; width:200px; max-width: 200px;border-radius:20px;margin:auto" class="img-fluid" alt="">
                    <h5 class="title">{{order.Car.Name}}</h5>
                    <h5 class="title">{{order.Car.Location}}</h5>
                    <h6 class="title">{{order.Car.Description}}</h6>
                </div>
            </div>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button class="btn btn-sm btn-default" type="submit" ng-click="pay(order)">
            Zapłać
        </md-button>
        <md-button ng-click="cancel()">
            Zamknij
        </md-button>
    </md-dialog-actions>
</md-dialog>

