﻿<md-dialog aria-label="Register" class="my-dialog" layout="column" ng-controller="userCtrl as uc">
    <md-toolbar class="navbar">
        <div class="md-toolbar-tools">
            <h2>Register</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content" layout="row">
            <div layout="column" flex="30">
                <form name="uc.registerForm" ng-submit="uc.registerSubmit()">

                    <md-input-container>
                        <label>Nazwa</label>
                        <input ng-model="uc.registerModel.Age" type="number" ng-min="18" ng-max="85" ng-required="true">
                    </md-input-container>

                    <md-input-container>
                        <label>Nazwa</label>
                        <input ng-model="uc.registerModel.Name" ng-required="true">
                    </md-input-container>

                    <md-input-container>
                        <label>Email</label>
                        <input ng-model="uc.registerModel.Email" ng-required="true" type="email">
                    </md-input-container>

                    <md-input-container>
                        <label>Hasło</label>
                        <input ng-model="uc.registerModel.Password" ng-required="true" type="password">
                    </md-input-container>
                </form>
            </div>

            <div layout="column" flex="50" flex-offset="10">
                <h5 class="title">Podaj swoją nazwe, email i hasło.</h5>
               
            </div>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button class="btn btn-sm btn-default" ng-click="uc.registerSubmit()">
            Zapisz
        </md-button>
        <md-button ng-click="cancel()">
            Zamknij
        </md-button>
    </md-dialog-actions>
</md-dialog>

