﻿<div class="row wow fadeIn" data-wow-delay="0.4s">
    <div class="col-lg-12">
        <div class="divider-new">
            <h2 class="h2-responsive">Regulamin</h2><br />
        </div>
    </div>
    <div class="col-lg-12">
        <div style="padding-left:15px;">
            <h1 class="h2-responsive">Regulamin</h1>
            <h3>REGULAMIN WYPOŻYCZALNI SAMOCHODÓW</h3>

            <h4>Rent Car Wawa</h4>
            <h4>Obowiązuje od 01.10.2011</h4>

            <p><b>Postanowienia ogólne:</b></p>
            <p>  Najemcą samochodu może zostać osoba, która ukończyła 18 lat oraz od co najmniej roku posiada ważne prawo jazdy. W chwili odbioru samochodu klient ma obowiązek posiadać do wglądu ważny dowód osobisty oraz ważne prawo jazdy. W sytuacji gdy klientem jest obcokrajowiec - ważny paszport oraz dokument uprawniający do prowadzenia pojazdów mechanicznych na terytorium Rzeczypospolitej Polskiej.</p>
        </div>
    </div>
</div>        