﻿    <!--First row-->
<div class="row wow fadeIn" data-wow-delay="0.4s">
    <div class="col-lg-12">
        <div class="divider-new">
            <h2 class="h2-responsive">Co nowego?</h2>
        </div>



        <!--Carousel Wrapper-->
        <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
            <!--Indicators-->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                <li data-target="#carousel-example-1z" data-slide-to="2"></li>
            </ol>
            <!--/.Indicators-->
            <!--Slides-->
            <div class="carousel-inner" role="listbox">
                <!--First slide-->
                <div class="carousel-item active">
                    <img src="~/images/zabytkowe.jpg" style="height:600px" alt="First slide">
                    <div class="carousel-caption">
                        <h4>U nas także zabytkowe auta!</h4>
                        <br>
                    </div>
                </div>
                <!--/First slide-->
                <!--Second slide-->
                <div class="carousel-item">
                    <img src="~/images/sportowe.jpg" style="height:600px" alt="Second slide">
                    <div class="carousel-caption">
                        <h4>Lubisz szybką jazdę? Na pewno coś znajdziesz dla siebie</h4>
                        <br>
                    </div>
                </div>
                <!--/Second slide-->
                <!--Third slide-->
                <div class="carousel-item">
                    <img src="~/images/rodzinny.jpg" style="height:600px" alt="Third slide">
                    <div class="carousel-caption">
                        <h4>W ofercie także auta rodzinne!</h4>
                        <br>
                    </div>
                </div>
                <!--/Third slide-->
            </div>
            <!--/.Slides-->
            <!--Controls-->
            <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Wstecz</span>
            </a>
            <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Dalej</span>
            </a>
            <!--/.Controls-->
        </div>
        <!--/.Carousel Wrapper-->
    </div>
</div>
<!--/.First row-->
<br>
<hr class="extra-margins">

<div class="row">
    <!--First columnn-->
    <div class="col-lg-4"  ng-repeat="car in site.top3Cars">
        <!--Card-->
        <car-card car="car"></car-card>
        <!--/.Card-->
    </div>
    <!--First columnn-->
</div>
<!--/.Second row-->
