﻿<!DOCTYPE html>
<html>
<head>
    <base href="/">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Biznes</title>
    <!-- Font Awesome -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link href="~/css/site.css" rel="stylesheet" />
    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/angular-material/angular-material.css" rel="stylesheet" />
    <!-- Material Design Bootstrap -->
    <link href="~/css/mdb.css" rel="stylesheet" />
    <link href="~/lib/angular-rateit/src/style/ng-rateit.css" rel="stylesheet" />
    <link href="~/lib/angular-chart.js/dist/angular-chart.css" rel="stylesheet" />

    <!-- Template styles -->
    <style rel="stylesheet">
        /* TEMPLATE STYLES */

        main {
            padding-top: 3rem;
            padding-bottom: 2rem;
        }

        .widget-wrapper {
            padding-bottom: 2rem;
            border-bottom: 1px solid #e0e0e0;
            margin-bottom: 2rem;
        }

        .extra-margins {
            margin-top: 1rem;
            margin-bottom: 2.5rem;
        }

        .divider-new {
            margin-top: 0;
        }

        .navbar {
            background-color: #414a5c !important;
        }

        .lead-color {
            background-color: #414a5c !important;
        }

        footer.page-footer {
            background-color: #414a5c;
            margin-top: 2rem;
        }

        .md-button.md-primary.md-fab {
            background-color: #2bbbad !important;
        }
    </style>

    <link href="~/css/style.css" rel="stylesheet" />

    <script>
        (function (ChartJsProvider) {
            ChartJsProvider.setOptions({ colors: ['#803690', '#00ADF9', '#DCDCDC', '#46BFBD', '#FDB45C', '#949FB1', '#4A5360', '#4BBFBD', '#FAB45C', '#919FB1', '#435360', '#435360'] });
        });
    </script>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '413759208980938',
                xfbml: true,
                version: 'v2.9'
            });
            //FB.AppEvents.logPageView();
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

</head>
<body data-ng-app="myApp" ng-cloak style="overflow:initial !important">
    <div ng-controller="siteCtrl as site" ng-init="site.init()">


        <header>

            <!--Navbar-->
            <nav class="navbar navbar-toggleable-md navbar-dark">
                <div class="container">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <strong><img style="height:64px; width:64px; " src="~/images/car-transport-auto-automobile_17-128.png" /></strong>
                    </a>
                    <div class="collapse navbar-collapse" id="navbarNav1">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" ng-href="/Home">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" ng-href="/Features">Funkcjonalności</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" ng-href="/Contact">Kontakt</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" ng-href="/AboutUs">O nas</a>
                            </li>
                            <li class="nav-item dropdown btn-group" ng-if="site.userSvc.isLogin == true">
                                <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Akcje</a>
                                <div class="dropdown-menu dropdown" aria-labelledby="dropdownMenu1">
                                    <a class="dropdown-item" ng-href="/Account">Moje konto</a>
                                    <a class="dropdown-item" ng-href="/Orders">Zamówienia</a>
                                    <a class="dropdown-item" ng-if="site.userSvc.isAdmin == true" ng-href="/Analytics">Analityka</a>
                                </div>
                            </li>
                        </ul>
                        <div>
                            <a class="navbar-brand">
                                {{site.userName}}
                            </a>
                        </div>
                        <div ng-if="site.userSvc.isLogin == false">
                            <a href="#" class="btn btn-sm btn-default" ng-click="site.loginOpen($event)"><strong>Zaloguj</strong></a>
                            <a href="#" class="btn btn-sm btn-warning" ng-click="site.registerOpen($event)"><strong>Rejestracja</strong></a>
                        </div>
                        <div ng-if="site.userSvc.isLogin == true">
                            <a href="#" class="btn btn-sm btn-default" ng-click="site.logout($event)"><strong>Wyloguj</strong></a>
                        </div>
                        <form class="form-inline waves-effect waves-light">
                            <input class="form-control" type="text" ng-model="site.textSearch" placeholder="Search">
                        </form>
                    </div>
                </div>
            </nav>
            <!--/.Navbar-->

        </header>

        <main>

            <!--Main layout-->
            <div class="container">
                <div class="row">
                    <!--Sidebar-->
                    <div class="col-lg-4 wow fadeIn" data-wow-delay="0.2s">
                        <div ng-controller="toolbarCtrl as tc" ng-if="site.userSvc.isAdmin == true">
                            <md-fab-toolbar md-open="demo.isOpen" ng-init="tc.init()" count="tc.count"
                                            md-direction="{{tc.selectedDirection}}">
                                <md-fab-trigger class="align-with-text lead-collor">
                                    <md-button aria-label="menu" class="md-fab md-primary">
                                        <md-icon>menu</md-icon>
                                    </md-button>
                                </md-fab-trigger>

                                <md-toolbar>
                                    <md-fab-actions class="md-toolbar-tools">
                                        <md-button ng-click="site.carAddOpen($event)" ng-if="site.userSvc.isAdmin == true" aria-label="Dodaj auto" class="md-icon-button">
                                            <md-tooltip md-direction="left">Dodaj auto</md-tooltip>
                                            <md-icon>directions_car</md-icon>
                                        </md-button>

                                    </md-fab-actions>
                                </md-toolbar>
                            </md-fab-toolbar>
                        </div>


                        <div class="widget-wrapper" ng-controller="categoryCtrl as cc" ng-init="cc.init()">
                            <h4>Kategorie:</h4>
                            <br>
                            <div class="list-group">
                                @*może być z klasa active*@
                                <a ng-repeat="category in cc.categories"
                                   ng-class="{'active' : cc.isActive(category.Name)}"
                                   ng-href="/Cars/{{category.Name}}" class="list-group-item">{{category.Name}}</a>
                            </div>
                        </div>

                        <div class="widget-wrapper wow fadeIn" data-wow-delay="0.4s" ng-if="!site.getNewsletterCookie()">
                            <h4>Subskrybuj</h4>
                            <br>
                            <div class="card">
                                <form name="site.newsletterForm">
                                    <div class="card-block">
                                        <p><strong>Subskrybuj</strong></p>
                                        <p>Raz na tydzień otrzymasz newsletter</p>
                                        <div class="md-form">
                                            <i class="fa fa-user prefix"></i>
                                            <input ng-required="true" ng-model="site.newsletterModel.firstName" name="firstName" type="text" id="form1" class="form-control">
                                            <label for="form1">Imię</label>
                                        </div>
                                        <div class="md-form">
                                            <i class="fa fa-envelope prefix"></i>
                                            <input ng-required="true" ng-model="site.newsletterModel.email" name="email" type="email" id="form2" class="form-control">
                                            <label for="form2">Email</label>
                                        </div>
                                        <button class="btn btn-default" type="submit" ng-click="site.saveNewsletter()">Zapisz</button>

                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                    <!--/.Sidebar-->
                    <!--Main column-->
                    <div class="col-lg-8" style="overflow:inherit">


                        <!--NG-VIEW START-->
                        <md-content flex layout-padding id="content">
                            <div ng-view></div>
                        </md-content>

                        <!--<div ng-include="'/Views/Home/Index.html'">

                        </div>-->
                        <!--NG-VIEW END-->


                    </div>
                    <!--/.Main column-->

                </div>
            </div>
            <!--/.Main layout-->

        </main>

        <!--Footer-->
        <footer class="page-footer center-on-small-only">

            <!--Footer Links-->
            <div class="container-fluid">
                <div class="row">

                    <!--First column-->
                    <div class="col-md-3 offset-lg-1 hidden-lg-down">
                        <h5 class="title">O NASZEJ PLATFORMIE</h5>
                        <p>Nasza platforma to innowacyjne i szybkie (24/7) miejsce na pozyskanie odpowiedniego auta potrzebnego nam w danym momencie. Istnieje również możliwość podstawienia auta na lotnisko krajowe. Posiadamy bogaty wybór samochodów, w tym auta rodzinne i tereneowe.</p>
                    </div>
                    <!--/.First column-->

                    <hr class="hidden-md-up">

                    <!--Second column-->
                    <div class="col-lg-2 col-md-4 offset-lg-1">
                    </div>
                    <!--/.Second column-->

                    <hr class="hidden-md-up">

                    <!--Third column-->
                    <div class="col-lg-2 col-md-4">
                        <h5 class="title">System</h5>
                        <ul>
                            <li><a ng-href="/AboutUs">O nas</a></li>
                            <li><a ng-href="/Regulations">Regulamin</a></li>
                            <li><a ng-href="/Contact">Kontakt</a></li>
                        </ul>
                    </div>
                    <!--/.Third column-->

                    <hr class="hidden-md-up">

                    <!--Fourth column-->
                    <div class="col-lg-2 col-md-4">
                        <h5 class="title">Przydatne linki</h5>
                        <ul>
                            <li><a href="https://web.facebook.com/RentCar-Wawa-1301196999979014/">Facebook</a></li>
                            <li><a href="https://twitter.com/rentcar_wawa">Twitter</a></li>
                        </ul>
                    </div>
                    <!--/.Fourth column-->

                </div>
            </div>
            <!--/.Footer Links-->

            <hr>

            <!--Call to action-->
            <div class="call-to-action">
                <h4>Implementacja</h4>
                <ul>
                    <li>
                        <h5>Kod źródłowy</h5>
                    </li>
                    <li><a target="_blank" href="#" class="btn btn-info" rel="nofollow">Github</a></li>
                </ul>
            </div>
            <!--/.Call to action-->
            <!--Copyright-->
            <div class="footer-copyright">
                <div class="container-fluid">
                    © 2017 Copyright: Hubert Pietruczuk, Adam Kostusiak, Karolina Wakulak, Paulina Samiec
                </div>
            </div>
            <!--/.Copyright-->

        </footer>
    </div>

    <!--/.Footer-->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-animate/angular-animate.js"></script>
    <script src="~/lib/angular-aria/angular-aria.js"></script>
    <script src="~/lib/angular-route/angular-route.js"></script>
    <script src="~/lib/angular-messages/angular-messages.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-cookies.js"></script>
    <script src="~/js/aes.js"></script>
    <script src="~/js/crypto.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload-all.js"></script>
    <script src="~/js/tether.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/mdb.js"></script>
    <script src="~/lib/angular-material/angular-material.js"></script>
    <script src="~/lib/angular-rateit/src/ng-rateit.js"></script>
    <script src="~/lib/angular-chart.js/dist/angular-chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>

    <script src="~/app/site.js"></script>


    <!-- Bootstrap tooltips -->
    <script>
        new WOW().init();
    </script>



</body>
</html>
